############################
# Go
############################

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Local Env Files
############################

.env.local
.env.*.local

############################
# Linux
############################

*~

############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.dylib
*.exe
*.exe~
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

############################
# Misc. / Editor directories and files
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep
ios
android
dist
ios/
android/
dist/
/ios
/android
/dist
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.sw?
*.local
.gradle
.gradle/
.vagrant
.vagrant/

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
